.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    background-color: white;
    color: black;
    height: 30vh;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.title{
    height: 10rem;
    align-items: center;
}